.weather-app {
	background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);

	padding: 30px;
	max-width: 800px;
	height: 560px;
	border: 1px solid;
	border-color: #1cb1ac;
	border-radius: 10px;
	margin: 20px 10px 10px 2px;
}

.current-date h5 {
	padding: 2px;
	font-size: 12px;
	color: #1cb1ac;
	font-weight: bolder;
}

button {
	display: block;
	background: #1cb1ac;
	color: white;
	font-size: 20px;
	padding: 12px 20px 12px 20px;
	border: none;

	transition: all 200ms ease-in-out;
}

button:hover {
	cursor: pointer;
	background-color:#3e9fee;
}

form {
	font-size: 10px;
	padding: 10px;
	font-family: "Noto Sans", sans-serif;
	margin-left: 60px;
}

.weather-summary {
	text-align: left;
	font-size: 30px;
	padding: 25px 25px 40px 15px;
}

.current-city {
	font-size: 50px;

	font-family: "Noto Sans", sans-serif;
	color: #1cb1ac;
}

.current-temp {
	font-size: 60px;
	font-family: "Noto Sans", sans-serif;
	color: #1cb1ac;
	padding:10px;
}

.icon {
	font-size: 60px;
	padding: 10px 0px 10px 30px;
	font-family: "Noto Sans", sans-serif;
	color: #1cb1ac;
}

.units {
	font-size: 12px;
	position: relative;
	top: -34px;
	color: #1cb1ac;
}

ul {
	font-size: 15px;
	list-style: none;
	padding: 20px 0px 0px 5px;
	color: #1cb1ac;
}

.days h3 {
	left: 30px;
	position: relative;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: #1cb1ac;
	font-weight: thinner;
}

.forecast {
	text-align: center;
	color: #42a5f5;
	position: fixed;
	padding: 20px;
}

.day1,
.day2,
.day3,
.day4 {
	color: #42a5f5;
	font-size: 30px;
	text-align: center;
	border-width: 0.5px;
	border-style: none;

	padding: 15px;

	font-family: "Montserrat", sans-serif;
}

.day1 h5,
.day2 h5,
.day3 h5,
.day4 h5 {
	font-size: 23px;
	font-weight: lighter;
	text-align: center;
	color: #42a5f5;
	font-family: "Montserrat", sans-serif;
}
.day1 i,
.day2 i,
.day3 i,
.day4 i {
	text-align: center;
	font-size: 60px;
	color: #42a5f5;
}

.day1:hover,
.day2:hover,
.day3:hover,
.day4:hover {
	cursor: pointer;
	background-color: #3e9fee;
	transition: all 150ms ease-in-out;
background-image: linear-gradient(-225deg, #fffeff 0%, #adf5f4 100%);
